#main {
  padding: 10%;
}

.coins {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: 100%;
  border: 1px solid #c4c4c8;
  border-radius: 12px;
  align-items: center;
  justify-content: space-between;
}

.monedas {
  width: 80%;
  height: 80%;
  object-fit: contain;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 16px;
  margin-left: 7px;
}
p {
  color: #344054;
}

.subTitle {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.hand {
  display: flex;

  border: 1px solid #c4c4c8;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}
#imgHand {
  height: 80%;
  width: 40%;
  object-fit: contain;
}

.pruebaButton {
  border: 2px solid #f2f4f7;
  border-radius: 12px;
  display: grid;
  justify-items: end;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 10px;
}
.optionCheck {
  width: 80%;
  padding-left: 10px;
}
.check {
  height: 1.5em;
  width: 1.5em;
  border: 1px solid #c4c4c8;
  border-radius: 50%;
  margin-right: 15px;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

/* .check:hover {
    background-color: #ec6276;
  } */

.check {
  height: 1.5em;
  width: 1.5em;
  border: 1px solid #c4c4c8;
  border-radius: 50%;
  margin-right: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  position: relative;
}
.check:hover {
  border: none;
}
.check img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  margin: auto;
  transition: opacity 0.3s;
  opacity: 0;
}

.check:hover img {
  opacity: 1;
}
