/* #camera {
  width: 20em;
  height: 25em;
  border-radius: 12px;
  border: 2px solid #ec6276;
  margin-top: 2em;
  object-fit: cover;
  object-position: center;
}
#web {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#pageCamera {
  height: 100vh;
  max-width: 100vw;
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden;
  margin-left: 3%;
  margin-right: 3%;
}
#screenshotButton {
  position: absolute;
  z-index: 1;
  right: 1100px;
  top: 580px;

  width: 156.5px;

  height: 44px;
  border: none;
  background-color: #ec6276;
  color: #fff;
  border-radius: 12px;
}
#returnButton {
  position: absolute;
  top: 580px;

  z-index: 1;
  width: 156.5px;
  height: 44px;
  border: none;
  background-color: #ec6276;
  color: #fff;
  border-radius: 12px;
  padding: 10em;
}

#logoCamera {
  display: flex;
  align-items: center;
  width: 10em;
}
#camLogo {
  margin-top: 2em;
  margin-left: 3em;

  width: 15em;
}

@media (max-width: 768px) {
  #screenshotButton {
    position: absolute;
    z-index: 1;
    right: 18px;
    top: 580px;
    width: 156.5px;
    height: 44px;
    border: none;
    background-color: #ec6276;
    color: #fff;
    border-radius: 12px;
  }

  #pageCamara {
    width: 70vw !important;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    justify-content: flex-start;
  }

  #screenshotButton {
    margin-right: 20%;
    margin-left: 20%;
  }
} */

#camera {
  width: 20em;
  height: 25em;
  border-radius: 12px;
  border: 2px solid #ec6276;
  margin-top: 2em;
  margin-bottom: 1em;

  object-fit: cover;
  object-position: center;
}
#pageCamera {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
  padding-left: 3%;
  padding-right: 3%;
}

#web {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#screenshotButton {
  margin-right: 20%;
  margin-left: 20%;
  position: absolute;
  z-index: 1;
  right: -60px;
  top: 580px;

  width: 156.5px;
  padding-left: 3px;
  padding-right: 3px;
  height: 44px;
  border: none;
  background-color: #ec6276;
  color: #fff;
  border-radius: 12px;
}
#returnButton {
  position: absolute;
  top: 580px;

  z-index: 1;
  width: 156.5px;
  height: 44px;
  border: none;
  background-color: #ec6276;
  color: #fff;
  border-radius: 12px;
}

#logoCamera {
  display: flex;
  align-items: center;
  width: 10em;
}
#camLogo {
  margin-top: 2em;
  margin-left: 3em;

  width: 15em;
}

@media (min-width: 1410px) {
  #screenshotButton {
    position: absolute;
    z-index: 1;
    right: 100em;
    top: 580px;

    width: 156.5px;

    height: 44px;
    border: none;
    background-color: #ec6276;
    color: #fff;
    border-radius: 12px;
  }

  #pageCamera {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
    padding-left: 3%;
    padding-right: 3%;
  }

  #web {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 1em;
  }
  #screenshotButton {
    position: absolute;
    z-index: 1;
    right: 750px;
    top: 580px;

    width: 156.5px;

    height: 44px;
    border: none;
    background-color: #ec6276;
    color: #fff;
    border-radius: 12px;
  }
}
